/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #333; /* Цвет текста */
  font-family: Arial, sans-serif; /* Шрифт */
  background-color: #f8f9fa; /* Цвет фона */
}

/* HEADER STYLES */
.navbar {
  background-color: #343a40; /* Цвет фона навигационной панели */
}

.navbar-brand {
  color: #fff; /* Цвет текста в логотипе */
}

.navbar-nav .nav-link {
  color: #fff; /* Цвет текста ссылок */
}

/* CAROUSEL STYLES */
.carousel-item {
  height: 500px; /* Высота слайдов карусели */
}

.carousel-caption {
  bottom: 2rem;
}

.carousel-caption h1 {
  font-size: 3rem; /* Размер заголовков в слайдах */
  color: #333; /* Цвет заголовков */
}

.carousel-caption p {
  font-size: 1.5rem; /* Размер текста в слайдах */
  color: #555; /* Цвет текста */
}

/* MARKETING CONTENT STYLES */
.marketing .col-lg-4 {
  margin-bottom: 2rem;
}

.marketing .col-lg-4 h2 {
  font-size: 2rem; /* Размер заголовков */
  color: #333; /* Цвет заголовков */
}

.marketing .col-lg-4 p {
  font-size: 1.25rem; /* Размер текста */
  color: #555; /* Цвет текста */
}

/* FOOTER STYLES */
footer {
  padding: 4rem 0;
  background-color: #343a40; /* Цвет фона подвала */
  color: #fff; /* Цвет текста */
}

.footer-links a {
  color: #fff; /* Цвет ссылок в подвале */
}

.footer-links a:hover {
  text-decoration: none;
}

/* RESPONSIVE CSS */
@media (min-width: 768px) {
  .carousel-caption h1 {
    font-size: 4rem;
  }

  .carousel-caption p {
    font-size: 1.75rem;
  }

  .marketing .col-lg-4 h2 {
    font-size: 2.5rem;
  }

  .marketing .col-lg-4 p {
    font-size: 1.5rem;
  }
}
