/* Стили для карусели */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-item > .container {
    padding: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicators label {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
}

input[type="radio"]:checked + .carousel-inner {
    transform: translateX(-100%);
}

#slide2:checked ~ .carousel-indicators > label:nth-child(2),
#slide3:checked ~ .carousel-indicators > label:nth-child(3) {
    background-color: #333;
}

/* Стили для контактной информации */
#contact {
    padding: 50px 0;
}

#contact h2 {
    margin-bottom: 30px;
}

#contact .container p {
    margin-bottom: 10px;
}
