/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #343a40; /* Темный серый цвет */
    color: #ffffff; /* Белый цвет текста */
    padding: 20px 0;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important; /* Белый цвет текста для ссылок */
}

.navbar-brand:hover,
.nav-link:hover {
    color: #cccccc !important; /* Серый цвет при наведении */
}

main {
    padding: 50px 0;
}

footer {
    background-color: #343a40; /* Темный серый цвет */
    color: #ffffff; /* Белый цвет текста */
    padding: 20px 0;
}

/* Стили для карусели */
.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 50px;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
}

.carousel-item > .container {
    padding: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel-indicators label {
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    margin: 0 5px;
}

input[type="radio"]:checked + .carousel-inner {
    transform: translateX(-100%);
}

#slide2:checked ~ .carousel-indicators > label:nth-child(2),
#slide3:checked ~ .carousel-indicators > label:nth-child(3) {
    background-color: #333;
}

/* Стили для секции с контактами */
#contact {
    padding: 50px 0;
    background-color: #f8f9fa; /* Светло-серый цвет фона */
}

#contact .container {
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #212529; /* Черный цвет текста */
}

#contact p {
    font-size: 1.2rem;
    color: #212529; /* Черный цвет текста */
}

#contact .col-md-6 {
    margin-top: 30px;
}

#contact h4 {
    font-size: 1.5rem;
    color: #212529; /* Черный цвет текста */
}

#contact p {
    font-size: 1.2rem;
    color: #212529; /* Черный цвет текста */
}
